@tailwind base;
@tailwind components;
@tailwind utilities;


.boost {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    width: fit-content;
}

.boost:hover .boost-slide-show-text1 {
    margin-left: 65px;
}

.boost-moving-gradient {
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.boost-moving-gradient:hover {
    transition: 0.5s ease-in-out;
    background-position: 100% 0px;
}

.boost-moving-gradient--blue {
    background-image: linear-gradient(90deg, rgb(61, 135, 255), rgb(190, 61, 255), rgb(126, 61, 255), rgb(58, 134, 255));
    box-shadow: rgb(190, 61, 255) 0px 4px 15px 0px;
}


/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal Container */
  .modal-container {
    background-color: rgba(37, 38, 56, 0.555); /* Semi-transparent dark background */
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #f0f0f0; /* Light text */
    position: relative;
    backdrop-filter: blur(5px); /* Apply blur effect */
}


  
  /* Close Button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: #f0f0f0;
    font-size: 20px;
    cursor: pointer;
  }

  .boostTime {
    color: aqua;
    font-size: 15px;
  }


  @keyframes boosted {
    from {border-image:  'linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1';}
    to {border-image:  'linear-gradient(to left, #3acfd5 0%, #3a4ed5 100%) 1';}
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
  }

  .socials a {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: ruby;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
  }

  .socials a:hover {
    transform: scale(1.1);
  }

  .socials a span svg {
    fill: rgb(235, 235, 235);
    transition: all 0.5s;
  }

  .socials a:hover span svg {
    fill: rgb(179, 217, 235);
  }

  .waveform {
    width: 100%;
    hedight: fit-content;
  }
  #waveform {
    width: 100%;
    hedight: fit-content;
  }

  .genreList {
    display: grid;
  }

  .genreList div {
    background-color: rgba(209, 130, 255, 0.658);
    width: fit-content;
    padding: 0.7rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 40px;
    letter-spacing: 2px;
    text-align: center;
    justify-content: center;
    font-family: monospace;
    cursor: pointer;
    transition: all 0.5s;
  }

  .genreList div:hover {
    transform: scale(1.02);
    opacity: 70%;
  }

  .follow {
    width: fit-content;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }

  .follow > div {
    width: fit-content;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
    font-family: monospace;
    letter-spacing: 2px;
    font-size: large;
    cursor: pointer;
    transition: all 0.2s;
  }

  .follow > div:hover {
    opacity: 80%;
  }

  .follow-btn {
    background-color: #dadadaf3;
  }

  .followed-btn {
    background-color: rgba(174, 169, 216, 0.952);
  }